
h1, h2, h3, .container, .transparent-container, #divider {
    max-width: 1200px;
}

body {
    background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
    background-repeat: repeat;
    background-color: #b35340; 
    margin: 0;
    padding: 0;
    color: #b35340;
}

#divider {
    height: 2px;
    background-color: #472A28;
    margin-top: 0px;
    margin-bottom: 10px;
}

.container {
    margin: auto;
    padding: 2rem;
    background-color: #cea18d;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

.transparent-container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    background-color: rgba(206, 161, 141, 0.85);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }


#myChart {
    width: 100%;
	margin-left: auto;
	margin-right: auto;
    position: relative;
    font-family: "Inter";
}

svg {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

img {
    display: block;
    padding-right: 100px;
    position: relative;
}

#kitty {
    display: block;
    padding: 30px 0px;
    max-width: 250px;
    margin-right: 0;
}

#source {
    text-align: left;
    color: #4f4e4e;
    display: block;
    font-size: 12px;
    margin: 5px 0 0 95px;
    position: relative;
  }


h1, h2, h3 { 
        font-family: "Inter";
    }

p {
    font-size: 16px;
    line-height: 0.4;
    color: #472A28;
    font-family: "Inter";
}

h3 {
    animation: forwards;
    color: #b35340;
    font-size: 20px;
}

h2 {
    animation: forwards;
    color: #472A28;
    font-size: 24px;
    text-align: center;
}

h1 {
    animation: forwards;
    color: #472A28;
    font-size: 64px;
    text-align: center;
}